
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div style="display: block; width: 550px; position: fixed; right:20px; top:100px; z-index: 100;
; background-color: black; min-height: 100px; padding-top: 20px; " class="card" 

>
<p *ngIf="cartItems.length==0 " style="color:white">Korpa je prazna.</p>
<div class="row" style="background-color: white;" *ngFor="let item of cart |async">


    <div class="col-sm my-auto">
        <img style="width: 50px" [src]="item.karta.card_images[0].image_url">
    </div>
   <div class="col-sm my-auto" style="width: 30%;" >{{item.karta.name}} </div>
   <div class="col-sm my-auto">{{item.price}}</div>
   <div class="col-sm my-auto">{{item.count}}ss</div> 
   <div class="col-sm my-auto" > <button (click)="dodajUKorpu(item)" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>
    <button (click)="obrisIzKorpe(item)" class="btn btn-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>	</div>

   

</div>
<button routerLink="/cart">Pregled korpe</button>
</div>