<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/ca9af8d80b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<div class='container'>
    <div class="card justify-content-center" >
        <div *ngIf="mojiOglasi.length==0" style="margin-top: 60px;" class="row justify-content-center"> 
            <p style="font-weight: 400;">Nemate nijedan aktivan oglas.</p>
        </div>
      
        <div *ngIf="mojiOglasi.length!=0" class ="row justify-content-center">
        <div class="imgDiv col-sm">
           <b></b>
        </div>
        <div class="col-sm my-auto">
            <b>Ime</b>
        </div>
        <div class="col-sm my-auto">
            <b>Korisnik</b>
        </div>
        <div class="col-sm my-auto">
            <b>Cena</b>
        </div>
        <div class="col-sm my-auto">
            <b>Kolicina</b>
         </div>
        <div class="col-sm my-auto">
          
        </div>
        </div>


<div *ngFor="let item of mojiOglasi" class ="row  justify-content-center">
<div class="imgDiv col-sm">
    <img [src]="item.karta.card_images[0].image_url"> 
</div>
<div class="col-sm my-auto">
    {{item.karta.name}}
</div>
<div class="col-sm my-auto">
    {{item.user.username}}
</div>
<div class="col-sm my-auto">
   {{item.price}} RSD
</div>
<div class="col-sm my-auto">
    {{item.count}}
 </div>
<div class="col-sm my-auto">

    <button (click)="nazad()" class="btn btn-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>	</div>
 
</div>
<div  class ="row justify-content-center ">


    </div>
    <div class="order_total">
        <div class="order_total_content text-md-right">
            <div class="order_total_title">Ukupna Cena:</div>
            <div class="order_total_amount">RSD</div>
        </div>
    </div>
    <div class="cart_buttons"> <button type="button" class="button cart_button_clear">Nastavi kupovinu</button> 
        <button routerLink="/checkout" type="button" class="button cart_button_checkout">Plaćanje</button> </div>
</div>