<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" >

<nav class="navbar navbar-dark bg-primary mb-4"  >
    <div class="container">
        <a href="#" class="navbar-brand" style="color:white">Ne pravi se jos uvek UI</a>
       
    </div>

 

<div (click)="prikaziKorpu();" class="d-flex d-none d-md-flex flex-row align-items-center"> <span class="shop-bag"><i class='bx bxs-shopping-bag'></i></span>
    <div class="d-flex flex-column ms-2"> <span class="qty"> {{countProizvod$ |async}} Proizvoda</span> <span class="fw-bold"> {{sumProizvod$|async }} RSD</span> </div>
</div>
    </nav><app-cart-preview *ngIf="showCart" style="float: right;"></app-cart-preview> 
