<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
 

 
    <div class="fadeIn first">
      <img src="/assets/img/YuGiMarket-logos_black.png" id="icon" alt="User Icon" />
    </div>

  
    <form [formGroup]="forma">
      <input type="text" formControlName="email" [(ngModel)]="username" class="fadeIn second" placeholder="E-mail">
      <p *ngIf="submitted && control('email')?.errors" >Niste uneli ispravnu email adresu.</p>
      <input type="text" formControlName="password" [(ngModel)]="password" class="fadeIn third"  placeholder="Lozinka">
      <p *ngIf="submitted && control('password')?.errors" >Niste uneli lozinku.</p>
      <div *ngIf="authenticationFailed">
        <p style="color: red;">Podaci koje ste uneli nisu tačni.</p>
      </div>

      <input type="submit" (click)="login()" class="fadeIn fourth" value="Prijava">
    </form>


    <div id="formFooter">
      <a class="underlineHover" (click)="registerRedirect()">Registracija</a>
    </div>

  </div>
</div>