<div style="margin-bottom: 20px; margin-top: 15px;" class="row" >
  <div class="col">
    <img [src]="kartaImgUrl" style="position:relative; left:10px; top:20px; height: 200px; float:left">
  </div>
    <form name="forma"  [formGroup]="forma" style="margin:0 auto; float:left;width: 650px; padding-left: 20px ;" >
    
      <div class="row">
       
         <div class="col">
            <label for="formGroupExampleInput">Ime karte</label>
            <input type="text"  class="form-control" 
            placeholder="Unesite ime karte.."
            [(ngModel)]="input"
            formControlName="name"
            [matAutocomplete]="auto"
           >
     <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionName" (optionSelected)="promeniKartu($event.option.value)">
       <mat-option *ngFor="let karta of karte$ |async " [value]="karta"  >
         {{karta.name}}
       </mat-option>
     </mat-autocomplete>
     <div class="invalid" *ngIf="this.submitted && controlM('name')?.errors">Obavezno je odabrati kartu.</div>
            <div *ngIf="" class="invalid-feedback"
            style="padding-right: 0% !important; margin-right: 20px;">
             
           
            </div>
        
          </div>
    
        </div>
      <div class="row">
    
          <div class="col">
            <label for="formGroupExampleInput">Set</label>
            <select  style="height: 33px;" formControlName="set"
        (change)="promeniSet($event.target)"
            name="broj"  class="form-control" id="formGroupExampleInput" [value]="oglasDodaj.set" >
            
          <option  [value]="item.set_name" *ngFor="let item of setovi">{{item.set_name}}</option>
            
          </select>
    
            
            <div class="invalid" *ngIf="this.submitted && controlM('set')?.errors">Set je obavezan</div>
          </div>
 
    

          <div class="col">
            <label for="formGroupExampleInput2">Stanje karte</label>
            <select [(ngModel)]="oglasDodaj.stanje"  style="height: 33px;"
            formControlName="stanje"            
            name="broj"  class="form-control" id="formGroupExampleInput" >
            
          <option value="Kao nova" selected>Kao nova</option>
          <option value="Blago korišćena" >Blago korišćena</option>
          <option value="Blago oštećena">Blago oštećena</option>
          <option value="Vrlo oštećena">Vrlo oštećena</option>
          </select>
          <div class="invalid" *ngIf="this.submitted && controlM('stanje')?.errors">Stanje je obavezno</div>
          </div>
              
       
        </div>
    
    <div class="row" style=" ">
          <div class="col">
            <label for="formGroupExampleInput">Cena</label>
            <input [(ngModel)]="oglasDodaj.price" formControlName="cena"
         
            formControlName="cena" 
            name="broj" type="number" class="form-control" id="formGroupExampleInput" placeholder="1000">
            <div class="invalid" *ngIf="this.submitted && controlM('cena')?.errors">Cena je obavezna</div>
          </div>
    
    
          <div class="col" style=" margin-bottom: 20px">
            <label for="formGroupExampleInput2">Količina</label>
            <input   formControlName="kolicina"
            [(ngModel)]="oglasDodaj.quantity"
            formControlName="kolicina" 
            type="number"  name="street"  class="form-control" id="formGroupExampleInput2" placeholder="1">
            <div class="invalid" *ngIf="this.submitted && controlM('kolicina')?.errors">Količina je obavezna</div>
        
            </div>
          </div>
          <div style="width: 100%; text-align: center;">
          <a (click)="dodajOglas()" style="width:100%; color:white" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus-sign"></span> Objavi
          </a></div>
        </form>
       
      </div>
     
      <div style=" margin-top: 23px;  display: block; margin-bottom: 10px; width: 100%;">
    
       


      </div>
    